<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="../static//style.css" rel="stylesheet">
</head>

<body>
    <div class="bg-gra-02">

        <nav class="navbar bg-transparent text-muted">
            <span class="navbar-brand mb-0 h1">TinkerHub LinkMon</span>
        </nav>

        <div class="container mt-5">
            <div class="row">
                <div class="mt-5 col-md-12 col-lg-7 mt-5">
                    <div class="card card-4">
                        <div class="card-body">
                            <h2 class="title">Enter URL and Route</h2>
                            <form method="post" class="" action="">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <label class="label">URL</label>
                                            <input class="input--style-4" type="text" id="act_url" name="act_url">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <label class="label">Route</label>
                                            <input class="input--style-4" type="text" id="custom_route"
                                                name="custom_route">
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-5">
                                    <button class="col-12 btn btn--radius-2 btn--blue" type="submit">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="mt-5 col-lg-5">
                    <div class="card card-4">
                        <div class="card-body">
                            <label class="label">Enjoy, your shortened URL is: </label>
                            <h2 class="pt-2 title">
                                <a href="{{custom_url}}">https://bit.ly/tinkerhub</a>
                            </h2>

                            <button class="col-12 btn btn-1 btn--blue" type="">Copy to Clipboard</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="footer bg-transparent text-white">
            <p>&copy; Made with ♥️ by TinkerHub</p>
        </footer>
    </div>
</body>

</html>